# Carpetas de compilación de Java y Maven
target/
*.class
*.jar
*.war

# Carpetas ocultas del sistema operativo
.DS_Store
Thumbs.db

# CONFIGURACIÓN DE VS CODE (¡SÚPER IMPORTANTE!)
# Ignoramos la carpeta .vscode completa porque allí configuraremos 
# la contraseña de forma local para tu IDE.
.vscode/
